body {
  background-color: #E5AE29 !important;
}

.navbar.navbar-expand-lg {
  height: 20%;

  background-color: #FDE7B5 !important;
}

.wrappercirculos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}




svg {

  background-image: url(../img/usuario.png);
  background-size: cover;
  background-position: center;

}

.claselogo {
  height: 100px;
  width: 150px;

}


hr {
  margin-top: 0 !important;
  display: flex;
  align-items: flex-start;
  background-color: #333333 !important;
  height: 15px;
  opacity: 1 !important;
  width: 100% !important;
}

.circuloAle {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/alemania-96.png);
  background-repeat: no-repeat;

}

.circuloEsp {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/españa-96.png);
  background-repeat: no-repeat;

}

.circuloFranc {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/francia-96.png);
  background-repeat: no-repeat;

}

.circuloItal {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/italia-96.png);
  background-repeat: no-repeat;
}