* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  border-radius: 40px;

}

.wrapper {
  border-radius: 40px;
}

.logo {
  background-size: contain;

  background-repeat: no-repeat;
  background-image: url(../img/logo.png);
  height: 100%;
  width: 100%;
}

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: 3px solid gold;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}

.wrapper {
  background-color: #FDE7B5;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.wrapper>* {
  padding: 1em;
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper>* {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  display: flex;
  border-radius: 40px;
  background: #333333;
  border: 5px solid #EE8506;
  color: #fff;
}




.form {
  border-radius: 40px;
  background-color: #FDE7B5;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

form label {
  display: block;
}

form p {
  margin: 0;
}

.btn-enviar {
  grid-column: 1 / 3;

}

button,
input,
textarea {
  border-radius: 40px;
  border: 5px solid #ff8d01;

  padding: 1em;
}

button {
  background: #ff8d01;

  width: 100%;
  border: 0;
  border-radius: 40px;
}

button:hover,
button:focus {
  background: lightgrey;
  outline: 0;
}

img {

  object-fit: contain;
}