:root {
  --bs-secondary-color: rgba(33, 37, 41, 0) !important;
}

body {
  background-color: #E5AE29 !important;
}

.navbar.navbar-expand-lg {
  height: 20%;

  background-color: #FDE7B5 !important;
}

.wrappercirculos {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 500px;
}




.bd-placeholder-img1 {

  background-image: url(../img/vd1.jpg) !important;
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img2 {

  background-image: url(../img/vd2.webp);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img3 {

  background-image: url(../img/vd3.jpeg);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img4 {

  background-image: url(../img/vd4.jpg);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img5 {

  background-image: url(../img/vd5.jpg);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img6 {

  background-image: url(../img/vd6.webp);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img7 {

  background-image: url(../img/vd7.jpg);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img8 {

  background-image: url(../img/vd8.jpg);
  background-size: cover;
  background-position: center;

}

.bd-placeholder-img9 {

  background-image: url(../img/vd9.jpeg);
  background-size: cover;
  background-position: center;

}

.claselogo {
  height: 100px;
  width: 150px;
}


hr {
  margin-top: 0 !important;
  display: flex;
  align-items: flex-start;
  background-color: #333333 !important;
  height: 15px;
  opacity: 1 !important;
  width: 100% !important;
}

.circuloAle {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/alemania-96.png);
  background-repeat: no-repeat;

}

.circuloEsp {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/españa-96.png);
  background-repeat: no-repeat;

}

.circuloFranc {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/francia-96.png);
  background-repeat: no-repeat;

}

.circuloItal {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-image: url(../img/italia-96.png);
  background-repeat: no-repeat;
}