body {
  background-color: #E5AE29 !important;
}

.navbar.navbar-expand-lg {
  height: 20% !important;
  background-color: #FDE7B5 !important;
}

.claselogo {
  height: 100px;
  width: 150px;
}

hr {
  background-color: #ff8d01;
  height: 5px;
  opacity: 1 !important;
}

.wrappercirculos {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  width: 500px;
}

.circuloEsp,
.circuloFranc,
.circuloAle,
.circuloItal {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.circuloAle {
  background-image: url(../img/alemania-96.png);
}

.circuloEsp {
  background-image: url(../img/españa-96.png);
}

.circuloFranc {
  background-image: url(../img/francia-96.png);
}

.circuloItal {
  background-image: url(../img/italia-96.png);
}

.eldivisor {
  margin-top: 0 !important;
  display: flex;
  align-items: flex-start;
  background-color: #333333 !important;
  height: 15px;
  opacity: 1 !important;
  width: 100% !important;
}

p {
  color: white;
}


/* IZQUIERDA */

.aside-izq {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid #EE8506;
  border-radius: 40px;
  height: 100%;
  background-color: #333333;
  margin-left: 2%;
  margin-top: 2%;
}

.centrador {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usuariologo {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-image: url(../img/usuario-bg.png) !important;
  background-repeat: no-repeat;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.barrablanc {
  justify-content: center;
  background-color: #ffffff;
  width: 50%;
}

.btnsizq {
  display: flex;
  flex-direction: row;
}

.btnbajo {
  width: 80px;
  height: 30px;
  margin-right: 3px;
}

.btnbajo,
.btnsus {
  border-radius: 40px;
  background-color: #EE8506;
  justify-content: space-between;
}


/* bloque central */

.btnsus {
  width: 100px;
  height: 30px;
}

.aside-bj {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid #EE8506;
  border-radius: 40px;
  height: 100%;
  background-color: #333333;
  margin-top: 2%;
  align-items: center;
}

.uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 150px;
  border: 5px solid #EE8506;
  background-color: #333333;
  border-radius: 40px;
  margin: 10px auto;
}

.cont-cent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.wrapperbt {
  margin: auto;
}

.logo1,
.logo2,
.logo3 {
  height: 40px;
  width: 70px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo1 {
  background-image: url(../img/like.png) !important;
}

.logo2 {
  background-image: url(../img/heart.png) !important;
}

.logo3 {
  background-image: url(../img/dislike.png) !important;
}


/* VIDEO */

iframe {
  width: 100%;
  height: 500px;
}
.mainContain{

  width: 100%;
}

/* DERECHA */

.aside-der {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid #EE8506;
  border-radius: 40px;
  height: 100%;
  background-color: #333333;
  margin-right: 2% !important;
  margin-top: 2%;
}

.casa {
  height: 80px;
  width: 80px;
  background-image: url(../img/home.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.registro {
  height: 80px;
  width: 80px;
  background-image: url(../img/comment.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.subir {
  height: 80px;
  width: 80px;
  background-image: url(../img/upload.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
}

@media(width<1111px) {
  .aside-bj {
      display: block;
  }
  .aside-der,
  .aside-izq{
      display: none;
  }
  .btnbajo {
      width: 80px;
      height: 35px;
  }
  
}

@media(width>990px) {
 
  .aside-bj,.nav-text {
      display: none;
  }

}

@media (width<1300px) {
  .video {
      width: 750px;
      height: 400px;
  }
}

@media (width<1000px) {
  .video {
      width: 650px;
      height: 330px;
  }
}

@media (width<800px) {
  .video {
      width: 450px;
      height: 330px;
  }
}
@media (width<660px) {
  .video {
      width: 350px;
      height: 330px;
  }
}
@media (width<800px) {
  .uno {
      width: 300px;
  }
  
}
@media (width<800px) {
  .uno {
      width: 300px;
  }
  
}